{% extends "common/backend.html" %}

{% block content -%}

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="item_chart">


                    </div>
                </div>

                <div class="span6">
                    <div id="item_chart2">


                    </div>
                </div>
            </div>
        </div>


{%- endblock content %}


{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='index/assets/plugins/highcharts/highcharts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='backend/js/mgm_backend_tongji.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {

            tongji_user({{ user_building_dict|sort(attribute='name')|tojson  }});

        });
    </script>
{%- endblock scripts %}