{% extends "common/backend.html" %}StringField

{% block content -%}
				<div class="container-fluid">
                    <div class="row-fluid">
						<div class="span12">
							<div class="box box-color box-bordered ">
								<div class="box-title">
									<h3><i class="icon-file-alt"></i> 资料上传汇总</h3>
								</div>
								<div class="box-content nopadding">
									<form action="#" method="POST" class='form-horizontal form-bordered'>
										<div class="control-group">
											<label for="textfield" class="control-label">选择文件</label>
											<div class="controls">
												<div class="fileupload fileupload-new" data-provides="fileupload">
													<div class="input-append">
														<div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" name="aaaa" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
													</div>
												</div>
											</div>
										</div>


										<div class="control-group">
											<label for="textfield" class="control-label">分类</label>
											<div class="controls">
												<select name="s2" id="s2" class='select2-me input-xlarge'>
													<option value="1">图片</option>
													<option value="2">视频</option>
													<option value="3">文档</option>

												</select>
											</div>
										</div>
										<div class="control-group">
											<label for="textfield" class="control-label">标签</label>
											<div class="controls">
												<select name="s2" id="s2" class='select2-me input-xxlarge' multiple="multiple">
													<option value="1">绿化</option>
													<option value="2">消防</option>
													<option value="3">过道</option>
                                                    <option value="4">大厅</option>
                                                    <option value="5">漏水</option>
                                                    <option value="6">虚假宣传</option>


												</select>
											</div>
										</div>

                                        <div class="control-group">
                                            <label for="textarea" class="control-label">描述</label>
                                            <div class="controls">
                                                <textarea name="textarea" id="textarea" rows="5" class="input-block-level">XXXXXXXXXXXXXXXXXXXX </textarea>
                                            </div>
                                        </div>
									</form>
								</div>
							</div>
						</div>
					</div>
                </div>
{%- endblock content %}




