{% extends "common/base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index/assets/plugins/parallax-slider/css/parallax-slider.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='index/assets/plugins/bxslider/jquery.bxslider.css') }}" />

{%- endblock head %}

{% block body_content %}

<!--=== Content Part ===-->
<div class="container">

    <div class="row-fluid margin-bottom-60" style="margin-top:100px">

        	<form class="reg-page" id="renzheng_form" enctype="multipart/form-data" />
            	<h3>鲁能-钓鱼台-美高梅 业主实名认证</h3>

                <div class="controls">
                    <div class="input-append">
                        <input class="input-xxlarge span12" type="file" id="myfile" name="myfile"/>

                    </div>
                </div>

{#                <div class="controls">#}
{##}
{#                    <label><span class="color-red">公众号截图示例如下: </span></label>#}
{#                    <div class="input-append">#}
{#                        <img src="{{ url_for('static', filename='index/assets/img/renzheng.jpg') }}" alt="" />#}
{##}
{#                    </div>#}
{#                </div>#}


                <hr />
                <div class="controls form-inline">
                    {% if session['renzheng']=='审核中' %}
                        <label class="checkbox color-red" id="message_info" >&nbsp; 业主身份正在审核中，请耐心等待！</label>
                        <button class="btn-u pull-right" type="button" id="upload" disabled>审核中</button>
                    {% elif session['renzheng']=='已认证' %}
                        <label class="checkbox color-red" id="message_info" >&nbsp; 认证已通过!</label>
                        <button class="btn-u pull-right" type="button" id="upload" disabled>无需上传</button>

                    {% else %}
                        <label class="checkbox color-red" id="message_info" >&nbsp; 选择图片后，点击右侧按钮，完成认证</label>
                        <button class="btn-u pull-right" type="button" id="upload" >上传图片</button>
                    {% endif %}
                </div>

            </form>


        </div><!--/row-fluid-->







	<!-- Recent Works -->
    <div class="headline"><h3>任选以下其中一种认证方式</h3></div>
    <div class="row-fluid margin-bottom-40">
        <ul id="list" class="bxslider recent-work">
            <li>
                <a href="#">
                	<em class="overflow-hidden"><img src="{{ url_for('static', filename='index/assets/img/renzheng.jpg') }}" alt="" /></em>
                    <span>
                        <strong>鲁能公证号</strong>
                        <i>需房主认证页截图</i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                	<em class="overflow-hidden"><img src="{{ url_for('static', filename='index/assets/img/renzheng2.jpg') }}" alt="" /></em>
                    <span>
                        <strong>购房合同</strong>
                        <i>需含房号签字页截图</i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                	<em class="overflow-hidden"><img src="{{ url_for('static', filename='index/assets/img/carousel/4.jpg') }}" alt="" /></em>
                    <span>
                        <strong>首付收据</strong>
                        <i>需完整签字收据截图</i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                	<em class="overflow-hidden"><img src="{{ url_for('static', filename='index/assets/img/carousel/5.jpg') }}" alt="" /></em>
                    <span>
                        <strong>收房通知书</strong>
                        <i>需完整签字通知截图cred</i>
                    </span>
                </a>
            </li>
{#            <li>#}
{#                <a href="#">#}
{#                	<em class="overflow-hidden"><img src="{{ url_for('static', filename='index/assets/img/carousel/6.jpg') }}" alt="" /></em>#}
{#                    <span>#}
{#                        <strong>Happy New Year</strong>#}
{#                        <i>Anim pariatur cliche reprehenderit</i>#}
{#                    </span>#}
{#                </a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#">#}
{#                	<em class="overflow-hidden"><img src="{{ url_for('static', filename='index/assets/img/carousel/7.jpg') }}" alt="" /></em>#}
{#                    <span>#}
{#                        <strong>Award Winning Agency</strong>#}
{#                        <i>Responsive Bootstrap Template</i>#}
{#                    </span>#}
{#                </a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#">#}
{#                	<em class="overflow-hidden"><img src="{{ url_for('static', filename='index/assets/img/carousel/8.jpg') }}" alt="" /></em>#}
{#                    <span>#}
{#                        <strong>Wolf Moon Officia</strong>#}
{#                        <i>Pariatur prehe cliche reprehrit</i>#}
{#                    </span>#}
{#                </a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#">#}
{#                	<em class="overflow-hidden"><img src="{{ url_for('static', filename='index/assets/img/carousel/9.jpg') }}" alt="" /></em>#}
{#                    <span>#}
{#                        <strong>Food Truck Quinoa Nesciunt</strong>#}
{#                        <i>Craft labore wes anderson cred</i>#}
{#                    </span>#}
{#                </a>#}
{#            </li>#}
        </ul>        
	</div><!--/row-->
	<!-- //End Recent Works -->





</div><!--/container-->
<!-- End Content Part -->
{%- endblock body_content %}



{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='index/assets/plugins/parallax-slider/js/modernizr.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index/assets/plugins/parallax-slider/js/jquery.cslider.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index/assets/plugins/bxslider/jquery.bxslider.js') }}"></script>
{%- endblock scripts %}

{% block initjs %}
    App.initBxSlider1();
    Index.initParallaxSlider();
{%- endblock initjs %}