{% extends "common/base.html" %}

{% block head %}

{%- endblock head %}

{% block body_content -%}


<div class="container">
	<div class="row-fluid">
        <!-- Default Tables styles -->

		<div class="row-fluid">
        	<div class="span12">
	            <div class="headline"><h3>业主投票活动列表  共{{ votinglist|length }}个</h3></div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>名称</th>
                            <th >描述</th>
                            <th >开始时间</th>
                            <th >票数</th>
                            <th >参加投票</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%  for voteitem in votinglist|sort(attribute='create_date', reverse = True) %}

                            <tr>
                                <td style="width: 20px;text-align: center">{{ voteitem.id }}</td>
                                <td style="width: 400px;">{{ voteitem.title }}</td>
                                <td>{{ voteitem.description }}</td>
                                <td style="width: 100px;text-align: center">{{ voteitem.create_date }}</td>
                                <td style="width: 30px;text-align: center">{{ voteitem.vote }}</td>
                                <td style="width: 100px;text-align: center"><a href="/voting/vote/{{ voteitem.id }}" class="btn-u btn-u-small btn-u-green" target="_blank"><i class="icon-chevron-right"></i> 参加投票</a></td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <p class="color-red" id="message_info" ></p>
            </div>

        </div><!--/row-fluid-->


    </div>
</div><!--/container-fluid-->
<!-- End Content Part -->






{%- endblock body_content %}


{% block initjs -%}

{%- endblock initjs %}